<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Settings</h1>
    </div>
    <div class="settings device">
      <h2>Device Settings</h2>
      <form action="" method="POST" class="device-form">
        <!-- {{ device_form }} -->
        <div class="console-fields">
          {{ device_form.console_ip.label(class="") }}
          {{ device_form.console_ip }}
          {{ device_form.tcp_port.label(class="") }}
          {{ device_form.tcp_port }}
        </div>
        <div class="serial-fields">
          {{ device_form.serial_device.label(class="") }}
          {{ device_form.serial_device }}
          {{ device_form.baud_rate.label(class="") }}
          {{ device_form.baud_rate }}
        </div>
        {{ device_form.submit }}
        <button type="reset">Restore default settings</button>
      </form>
    </div>
    <div class="settings network">
      <h2>Local Settings</h2>
      <form action="" method="POST">
        <!-- {{ network_form }} -->
        {{ network_form.ip.label }}
        {{ network_form.ip }}
        {{ network_form.subnet_mask.label }}
        {{ network_form.subnet_mask }}
        {{ network_form.gateway.label }}
        {{ network_form.gateway }}
        {{ network_form.submit}}
      </form>
    </div>
  </div>

</body>
</html>